@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    100% !default;

$on-palm:          100% !default;
$on-laptop:        100% !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

.header-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.wrapper {
  padding: 0px;
  margin:0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 550px;
  z-index: -1;
  width: 100%;
}

.parallax-container h1 {
  position: absolute;
  bottom: 88px;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 3px #111;
  font-size: 32pt;
  background: rgba(0,0,0,.28);
  font-size: 30pt;
  text-align: center;
   width:100%;
}

.content-body {
  background-color: #fff !important;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: -88px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  //min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.site-header {
  background: white;
}

.site-footer {
  padding: 30px;
}

.site-footer ul {
  list-style-type: none;
  margin: 0;
}

.footer-right {
  width: 25%;
  text-align: center;
  float: right;
  padding-right: 25%;
}

.footer-left {
  width: 25%;
  text-align: center;
  float: left;
  padding-left: 25%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.u-inlineBlock {
  font-size: 20px;
}

.section {
  margin-bottom: 30px;
  min-height: 50px;
  width: 100%;
}

.twitter-feed {
  width: 45%;
  float: right;
  padding: 12px;
}

.latest-blog {
  width: 45%;
  float: left;
  padding: 12px;
}

h3 {
  width: 100%;
  text-align: center;
}

.preview-title {
  font-weight: 600;
  font-size: 18px;
}

.preview-detail {
  font-style: italic;
  font-size: 14px;
  line-height: 10px;
  margin: -5px 0px -5px 0px;
  padding: 0px;
}

.latest-updates {
  width: 100%;
  margin-bottom: 10px;
}

.dynamichalf {
  width: 50%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.crop {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.cropTitle {
  position: relative;
  bottom: 80px;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 3px #111;
  font-size: 18pt;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,.28);
}

.crop img {
  min-width: 100%;
  min-height: 250px;
  align-content: center;
  margin: -75px 0 0 -10px;
}

@media only screen and (max-width: 1450px) {
  .content-body {
    width: 60%;
  }

  .parallax-container h1 {
    font-size: 30pt;
    left: initial;
    text-align: center;
    width:100%;
  }
}

@media only screen and (max-width: 1250px) {
  .content-body {
    width: 70%;
  }

  .footer-left {
    width: 50%;
    padding-left: 0%;
  }

  .footer-right {
    width: 50%;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 1024px) {
  .content-body {
    width: 80%;
    margin-top: -80px;
  }

  .twitter-feed {
    width: 100%;
    float: initial;
  }
  
  .latest-blog {
    width: 100%;
    float: initial;
  }

}

@media only screen and (max-width: 900px) {
  .content-body {
    width: 85%;
    margin-top: -100px;
  }

  .parallax-container h1 {
    font-size: 27pt;
  }
}

@media only screen and (max-width: 900px) {
  .parallax-container h1 {
    font-size: 26pt;
  }
}

@media only screen and (max-width: 750px) {
  .parallax-container h1 {
    visibility: hidden;
  }

  .content-body {
    margin-top: -150px;
  }

  .parallax-container {
    height: 250px;
  }

  .content-body {
    margin-top: -30px;
  }

  .sticky {
    position: relative;
  }

  .site-title {
    width: 100%;
    text-align: center;
  }

  .site-nav {
    align-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .trigger {
    align-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {  
  .footer-left {
    width: 100%;
    float: initial;
  }

  .footer-right {
    width: 100%;
    float: initial;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .parallax-container h1 {
    visibility: hidden;
  }

  .header-wrapper {
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
}