<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="home-content" aria-label="Content">
      <div class="wrapper">
        <div class="parallax-container">
            <div class="parallax">
            <h1 class="parallax-header">{{ page.title }}</h1>
            <img src="/assets/img/fenwick.webp">    
            </div>
        </div>
        <div class="content-body">
            <p class="mobile-header">{{ page.title }}</p>
            {%- if page.image -%}
            <img src="{{ page.image }}" class="feature-photo" />
            {%- endif -%}
            {{ content }}
            {%- if page.image2 -%}
            <img src="{{ page.image2 }}" class="secondary-photo" />
            {%- endif -%}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
