<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="home-content" aria-label="Content">
        <div class="wrapper">
            <div class="parallax-container">
                <div class="parallax">
                    <h1 class="parallax-header">{{ page.title }}</h1>
                    <img src="/assets/img/blog.webp">
                </div>
            </div>
            <div class="content-body">

                <p class="mobile-header">{{ page.title }}</p>
                {%- if page.image -%}
                <img src="{{ page.image }}" class="feature-photo" />
                {%- endif -%}
                <p class="post-details">
                    Posted by {{page.author}} on
                    {% assign d = page.date | date: "%-d"  %}
                    {% case d %}
                    {% when '1' or '21' or '31' %}{{ d }}st
                    {% when '2' or '22' %}{{ d }}nd
                    {% when '3' or '23' %}{{ d }}rd
                    {% else %}{{ d }}th
                    {% endcase %}
                    {{ page.date | date: "%B, %Y" }}
                </p>
                {{ content }}
                {%- if page.image2 -%}
                <img src="{{ page.image2 }}" class="secondary-photo" />
                {%- endif -%}

                <a href="/blog">&larr; View all posts</a>
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
